<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="../public/css/style4.css">
    <link rel="shortcut icon" href="./img/template/pinterest-icon.png" type="image/x-icon">
    <link rel="stylesheet" href="../public/css/1.css">
    <link rel="stylesheet" href="./css/style2.css">
    <link rel="stylesheet" href="./css/home.css">
    <!-- 안성민 집가서 수정함... -->
    <link rel="stylesheet" href="./css/index.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>계정 관리</title>
</head>

<body>
    <form action="http://127.0.0.1:3000/select_pin" method="post" name="select_form">
        <header>
            <nav class="flex flex-jc-e flex-ai-c">
                <div class="logo"><a class="flex flex-ai-c flex-jc-c" href="http://127.0.0.1:3000/main"><svg class="ico">
                            <path
                                d="M0 12c0 5.123 3.211 9.497 7.73 11.218-.11-.937-.227-2.482.025-3.566.217-.932 1.401-5.938 1.401-5.938s-.357-.715-.357-1.774c0-1.66.962-2.9 2.161-2.9 1.02 0 1.512.765 1.512 1.682 0 1.025-.653 2.557-.99 3.978-.281 1.189.597 2.159 1.769 2.159 2.123 0 3.756-2.239 3.756-5.471 0-2.861-2.056-4.86-4.991-4.86-3.398 0-5.393 2.549-5.393 5.184 0 1.027.395 2.127.889 2.726a.36.36 0 0 1 .083.343c-.091.378-.293 1.189-.332 1.355-.053.218-.173.265-.4.159-1.492-.694-2.424-2.875-2.424-4.627 0-3.769 2.737-7.229 7.892-7.229 4.144 0 7.365 2.953 7.365 6.899 0 4.117-2.595 7.431-6.199 7.431-1.211 0-2.348-.63-2.738-1.373 0 0-.599 2.282-.744 2.84-.282 1.084-1.064 2.456-1.549 3.235C9.584 23.815 10.77 24 12 24c6.627 0 12-5.373 12-12S18.627 0 12 0 0 5.373 0 12">
                            </path>
                        </svg></a></div>
                <ul class="left-menu flex flex-ai-c">
                    <li class="selected"><a class="flex flex-ai-c" href="http://127.0.0.1:3000/main">홈</a></li>
                </ul>
    
                <div id="outer" class="nav-item input-busqueda " onclick="board()">
                    <div id="inner" class="busqueda-lupa">
                        <img src="../img/template/search-icon.png" alt="너 잘못 올림">
                    </div>
    
                    <input type="search" name="select_text" placeholder="검색">
    
    
                    <div class="busqueda-input" id="board" style="background-color: white; height: max-content;
                                                   margin-top: 580px; position: fixed; width: 1500px;">
    
    
                        <ul class="searchresult" id="searchresult" style="text-align: center;">
                            <li> <button style=" margin: 2%" type="text" name="select_text2" class="animal_category" value="%강아지%"> <img
                                        src="../public/img/동물사진들/강아지 사진.jpg" alt="">
                                    <div style="position: absolute; top:46%; left:36%;"> 강아지 </div>
                                </button>
                                <button style=" margin: 2%" type="text" name="select_text2" class="animal_category" value="%고양이%"> <img
                                        src="../public/img/동물사진들/고양이사진2.jpg" alt="">
                                    <div style="position: absolute; top:46%; left:36%;"> 고양이 </div>
                                </button>
                                <button style=" margin: 2%" type="text" name="select_text2" class="animal_category" value="%햄스터%"> <img
                                        src="../public/img/동물사진들/햄스터사진.jpg" alt="">
                                    <div style="position: absolute; top:46%; left:36%;"> 햄스터</div>
                                </button>
                                <button style=" margin: 2%" type="text" name="select_text2" class="animal_category" value="%거북이%"> <img
                                        src="../public/img/동물사진들/거북이사진.jpg" alt="">
                                    <div style="position: absolute; top:46%; left:36%;"> 거북이 </div>
                                </button>
                                <button style=" margin: 2%" type="text" name="select_text2" class="animal_category" value="%고슴도치%"> <img
                                        src="../public/img/동물사진들/고슴도치사진1.png" alt="">
                                    <div style="position: absolute; top:46%; left:32%;"> 고슴도치 </div>
                                </button>
                            </li>
                            
                            
                            <li> <button style=" margin: 2%" type="text" name="select_text2" class="animal_category" value="%앵무새%"> <img
                                        src="../public/img/동물사진들/앵무새사진4.jpg" alt="">
                                    <div style="position: absolute; top:46%; left:36%;"> 앵무새 </div>
                                </button>
                                <button style=" margin: 2%" type="text" name="select_text2" class="animal_category" value="%기니피그%"> <img
                                        src="../public/img/동물사진들/기니피그사진1.jpg" alt="">
                                    <div style="position: absolute; top:46%; left:30%;">기니피그 </div>
                                </button>
                                <button style=" margin: 2%" type="text" name="select_text2" class="animal_category" value="%토끼%"> <img
                                        src="../public/img/동물사진들/토끼사진.jpg" alt="">
                                    <div style="position: absolute; top:46%; left:38%;">토끼 </div>
                                </button>
                                <button style=" margin: 2%" type="text" name="select_text2" class="animal_category" value="%장수풍뎅이%"> <img
                                        src="../public/img/동물사진들/장수풍뎅이사진.jpg" alt="">
                                    <div style="position: absolute; top:46%; left:22%;">장수풍뎅이</div>
                                </button>
                                <button style=" margin: 2%" type="text" name="select_text2" class="animal_category" value="%사슴벌레%"> <img
                                        src="../public/img/동물사진들/사슴벌레사진.jpg" alt="">
                                    <div style="position: absolute; top:46%; left:29%;">사슴벌레 </div>
                                </button>
                            
                            </li>
                            <li> <button style=" margin: 2%" type="text" name="select_text2" class="animal_category" value="%도마뱀%"> <img
                                        src="../public/img/동물사진들/도마뱀사진.jpeg" alt="">
                                    <div style="position: absolute; top:46%; left:36%;"> 도마뱀 </div>
                                </button>
                                <button style=" margin: 2%" type="text" name="select_text2" class="animal_category" value="%뱀%"> <img
                                        src="../public/img/동물사진들/뱀사진.jpg" alt="">
                                    <div style="position: absolute; top:46%; left:44%;">뱀 </div>
                                </button>
                                <button style=" margin: 2%" type="text" name="select_text2" class="animal_category" value="%관상어%"> <img
                                        src="../public/img/동물사진들/도롱뇽사진.jpg" alt="">
                                    <div style="position: absolute; top:46%; left:36%;">도롱뇽 </div>
                                </button>
                                <button style=" margin: 2%" type="text" name="select_text2" class="animal_category" value="%거북이%"> <img
                                        src="../public/img/동물사진들/관상어사진.jpg" alt="">
                                    <div style="position: absolute; top:46%; left:36%;">관상어</div>
                                </button>
                                <button style=" margin: 2%" type="text" name="select_text2" class="animal_category" value="%기타%">
                                    <div style="color: black;"> 기타</div>
                                </button>
                            
                            </li>
    
                        </ul>
                    </div>
                </div>
                <script>

                    $("#board").css("display", "none");
                    let cnt = 0;

                    function board() {
                        if (cnt == 0) {
                            $("#board").css({
                                "display": "block"

                            });
                            $(".galeria").css({
                                "background-color": "rgb(194, 191, 191)"
                            });
                            $(".imgcolor").css({
                                "background-color": "rgb(194, 191, 191)"
                            });
                            cnt = 1;

                        }
                        else {
                            $("#board").css("display", "none");
                            $(".galeria").css({
                                "background-color": "white"
                            });
                            $(".imgcolor").css({
                                "background-color": "white"
                            });
                            cnt = 0;
                        }
                    }
                </script>
                <ul class="right-menu flex">
                    <li class="notify flex flex-ai-c"><a class="flex flex-jc-c flex-ai-c" href="#"><svg class="ico">
                                <path
                                    d="M12 24c-1.66 0-3-1.34-3-3h6c0 1.66-1.34 3-3 3zm7-10.83c1.58 1.52 2.67 3.55 3 5.83H2c.33-2.28 1.42-4.31 3-5.83V7c0-3.87 3.13-7 7-7s7 3.13 7 7v6.17z">
                                </path>
                            </svg></a></li>
                    <li class="msg flex flex-ai-c"> <a class="flex flex-jc-c flex-ai-c" href="#"><svg class="ico">
                                <path
                                    d="M18 12.5a1.5 1.5 0 1 1 .001-3.001A1.5 1.5 0 0 1 18 12.5m-6 0a1.5 1.5 0 1 1 .001-3.001A1.5 1.5 0 0 1 12 12.5m-6 0a1.5 1.5 0 1 1 .001-3.001A1.5 1.5 0 0 1 6 12.5M12 0C5.925 0 1 4.925 1 11c0 2.653.94 5.086 2.504 6.986L2 24l5.336-3.049A10.93 10.93 0 0 0 12 22c6.075 0 11-4.925 11-11S18.075 0 12 0">
                                </path>
                            </svg> </a></li>
                    <li class="my-info flex flex-ai-c"><a class="ico flex flex-jc-c flex-ai-c"
                            href="http://127.0.0.1:3000/mypage1">
                            <div class="img-box flex flex-jc-c flex-ai-c">
                                <img src="../uploads/pin_img/<%=user.myimg_url%>" alt="">
                            </div>
                        </a></li>
                    <li class="account flex flex-ai-c ">
    
                            <div class="header__link header__icon dots">
                                <div class="header__link__wrapper">
                                    <!-- <i class="fas fa-ellipsis-h"></i> -->
                                    <img src="img\cards-buttons\smalldown1.png" alt="안보이나">
                                </div>
                                <div class="dropdown__list">
                                    <ul>
                                        <li>
                                            <a href="http://127.0.0.1:3000/profile">
                                                <div>
                                                    <img src="../uploads/pin_img/<%=user.myimg_url%>" alt=""
                                                        style="margin: auto; border-radius: 50%; width: 120px; height: 120px;">
                                                </div>
                                            </a>
                                        </li>
                                        <span></span>
                                        <a href="http://127.0.0.1:3000/profile">
                                            <li> 내 계정 </li>
                                        </a>
                                        <li>Business 계정으로 전환</li>
                                        <span></span>
                                        <li>옵션 더 보기</li>
                                        <li>설정</li>
                                        <li>홈피드 조정</li>
                                        <li>Windows 앱 설치</li>
                                        <li>도움 받기</li>
                                        <li>약관 및 개인정보 보기</li>
                                        <li><a href="http://127.0.0.1:3000/logout">로그아웃</a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- <i class="fas fa-angle-down"></i></a></li> -->
                </ul>
            </nav>
            </header>
            </form>
        <br><br><br><br><br>
        <div class="box1">
            <div role="list" class="setting_menu">
                <div role="listitem">
                    <a class="" href="http://127.0.0.1:3000/info3"><b>공개 프로필</b> </a>
                </div>
                <br>
                <div role="listitem" class="">
                    <a class="" href="http://127.0.0.1:3000/info1"> <b>개인 정보</b></a>
                </div>
                <br>
                <div role="listitem" class="open_profile">
                    <a class="" href="http://127.0.0.1:3000/info2"><b>계정 관리</b></a>
                </div>
            </div>
            <div class="open_profile_box">
                <div>
                    <div data-test-id="settings-header" class="zI7 iyn Hsu">
                        <h1 style="color: black;">계정 관리</h1>
                        <br>
                        <p style="color: black;">이메일, 비밀번호을 변경하세요. <br>이 정보는 비공개이며 회원님의 공개 프로필에 표시되지 않습니다.</p>
                    </div>
                    <div>
                        <div class="tab2">
                            <br>
                            이메일 • 비공개
                        </div>
                        <br>
                        <br>
                        <div>
                            <input class="input_text3" type="text" value="h1@naver.com">
                        </div>
                        <br>
                        <div class="tab2">
                            비밀번호
                        </div>
                        <div>
                            <form action="http://127.0.0.1:3000//login_pw_update" method="post">
                            <input class="input_text3" type="text" name="update_pw">
                            <button style="cursor: pointer;" class="change_btn">변경</button>
                            </form>
                        </div>
                        </div>
                            <div class="delete_menu">
                                
                                <form action="http://127.0.0.1:3000//info2" method="post">
                                <br>
                                <h2>데이터 및 계정 삭제
                                <button type="submit" style="cursor: pointer;" class="delete_btn">계정 삭제</button> </h2>
                                
                                <p>계정 및 계정 데이터 삭제</p>
                                </form>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
   
    <div class="ALa Jea Rym _he l7T ojN p6V qDf qJc zI7 iyn Hsu" style="z-index: 1;">
        <div class="EGm"></div>
        <div class="L4E Eeb">
            <div class="I6C Jea T9f feh gjz jx- jzS s7I zI7 iyn Hsu zlb" style="max-width: 488px; width: 100%;">
                <div class="gjz hs0 jx- un8 C9i">
                    <div data-test-id="cancel-button" class="wYR zI7 iyn Hsu"><button style="cursor: pointer;"
                            class="RCK Hsu USg adn CCY NTm KhY oRi lnZ wsz YbY" disabled="" type="button">
                            <div
                                class="RCK Hsu USg adn CCY NTm KhY czT F10 xD4 fZz hUC OWt gpV hDj _O1 gjz mQ8 FTD L4E">
                                <div class="tBJ dyH iFc sAJ B9u tg7 mWe">재설정</div>
                            </div>
                        </button></div>
                    <div data-test-id="done-button" class="zI7 iyn Hsu"><button style="cursor: pointer;"
                            class="RCK Hsu USg adn CCY NTm KhY oRi lnZ wsz YbY" disabled="" type="button">
                            <div
                                class="RCK Hsu USg adn CCY NTm KhY czT F10 xD4 fZz hUC OWt gpV hDj _O1 gjz mQ8 FTD L4E">
                                <div class="tBJ dyH iFc sAJ B9u tg7 mWe">저장</div>
                            </div>
                        </button></div>
                </div>
            </div>
        </div>
    </div>

</body>
<script type="text/javascript">
    const dots = document.querySelector(".dots");
    const dropdown = document.querySelector(".dropdown__list")
    const container = document.querySelector(".container")

    dots.addEventListener("click", () => {
        if (dropdown.style.display === "block") {
            dropdown.style.display = "none"
        } else {
            dropdown.style.display = "block"
        }
    })

    container.addEventListener("click", () => {
        if (dropdown.style.display === "block") {
            dropdown.style.display = "none"
        }
    })

    function press(f) {
        if (f.keyCode == 13) {
            Select_form.submit();
        }
    }

</script>

</html>